@import url('https://fonts.googleapis.com/css2?family=Martel:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}
head, body {
	overflow: auto;
}
body {
  box-sizing: border-box;
  margin: 0em;
	background-color: #24252A;
}

header {
	min-height: 100vh;
	background-image: url(img/headerimg.jpg);
  background-size: cover;
	background-position: center;
	width: 100vw;
	height: auto;
	padding-bottom: 0em;
}

header h1 {
	font-family: Martel, sans-serif;
	background-color: rgba(0,0,0,0.8);
	display: flex;
  justify-content: flex-start;
	color: white;
	font-size: 30px;
	margin-bottom: 0em;
	margin-top: 0em;
  z-index: 15;
	box-sizing: border-box;
}

header nav {
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vw;
  transform: translate(100vw);
  transition: transform 0.4s;
  z-index: 15;
 }

 em {
	 font-family: Martel, sans-serif;
	 font-size: 30px;
	 color: rgb(193,157,83);
	 margin-bottom: 0em;
	 text-decoration: none;
	 font-style: normal;
 }

nav a:last-child {
	color: rgb(193,157,83);
	text-decoration: none;
}

nav a {
	font-size: 2.4rem;
	padding: 2rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
	color: white;
	text-align: right;
  text-decoration: none;
	font-weight: 600;
}

#menuToggler {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  height: 1em;
  width: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  padding: 0.25em;
  font-size: 1.5em;
}

#menuToggler div {
  height: 20%;
  background: rgba(193,157,83);
  transition: transform 0.3s;
}

#menuToggler.open div:nth-child(1) {
	transform: translateY(0.3em) rotate(45deg);
}
#menuToggler.open div:nth-child(3) {
	transform: translateY(-0.5em) rotate(-45deg);
}
#menuToggler.open div:nth-child(2) {
	opacity: 0;
}

#menuToggler.open + header nav {
	transform: translate(0);
}

.footertext1 {
	text-align: center;
	color: rgb(193,157,83);
	font-size: 20px;
	font-style: oblique;
	padding-top: 0em;
	line-height: 1em;
	padding-bottom: 5em;
}

.contact {
padding-top: 100px;
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.contact .content {
	max-width: 100vw;
	text-align: center;
}

.contact .content h2 {
	font-family: Martel, sans-serif;
	font-size: 60px;
	font-weight: 600;
	padding-bottom: 0em;
	margin-bottom: 0em;
}

.contact .content p {
	font-family: Martel, sans-serif;
	font-size: 20px;
	font-weight: 400;
  margin-top: 0em;
}

.container {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1.4em;
	font-family: sans-serif;
}

.container .contactinfo {
	width: 50vw;
	display: flex;
	flex-direction: column;
}

.container .contactinfo .box .text {
	color: rgba(193,157,83);
	font-size: 20px;
}

.container .contactinfo .box .text h3 {
	color: white;
  font-size: 30px;
}

form {
	display: grid;
	grid-row-gap: 0.30em;
	grid-column-gap: 0.1em;
	grid-template-columns: minmax(max-content, 1fr) 3fr;
	color: white;
	font-size: 16px;
}

form h2 {
	grid-column: 1/3;
	color: white;
	font-size: 24px;
}

form input[type="submit"] {
	grid-column: 2/3;
	justify-self: end;
	font-size: 18px;
}

form input:invalid {
  border-width: 1px 1px 1px 3px;
	border-left-style: solid;
	border-left-color: red;
}

form input:valid {
	border-width: 1px 1px 1px 3px;
	border-left-style: solid;
	border-left-color: rgba(193,157,83);
}

form:invalid {
	border-top: 2px solid red;
}

form:valid {
	border-top: 2px solid rgba(193,157,83);
}

footer .Sec1 {
	overflow: auto;
}

.FAQS {
	font-family: Martel, sans-serif;
	box-sizing: border-box;
	font-size: 18px;
	color: white;
}

.Sec1 h2 {
	display: flex;
	justify-content: center;
	font-size: 50px;
	margin-bottom: 0em;
	border-top: 6px solid rgba(193,157,83);
	border-bottom: 6px solid rgba(193,157,83);
	border-right: 8px solid white;
	border-left: 8px solid white;
	width: 100%;
	margin-bottom: 0.5em;
}

.Sec1 {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.FAQS {
	width: 100%;
	max-width: 80rem;
	margin: 0;
	padding: 0 4rem;
}

.qlist-items {
	margin-bottom: 1.5rem;
	padding: 0.4rem;
}

.qlist-link {
	font-size: 20px;
	color: rgba(193,157,83);
	text-decoration: none;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.qlist-link ion-icon {
	color: rgba(193,157,83);
	font-size: 1.5em;
}

.qlist-link .remove {
	display: none;
}

.answer {
	max-height: 0;
	overflow: hidden;
	position: relative;
}

.answer::before {
	content:"";
	position: absolute;
	width: 0.6rem;
	height: 90%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.answer p {
	color: white;
	font-size: 16px;
}

.qlist-items:target .answer {
	max-height: 20rem;
}

.qlist-items:target .qlist-link .add {
	display: none;
}

.qlist-items:target .qlist-link .remove {
	display: block;
}

.class {
	color: white;
	font-family: Montserrat, sans-serif;
	font-weight: 100;
	font-size: 18px;
	width: 100%;
	height: auto;
}

.dls {
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
}
.class h3 {
	font-size: 30px;
}
.vagabond {
	text-align: center;
}

.warrior {
	text-align: center;
}

.hero {
	text-align: center;
}

.prophet {
	text-align: center;
}

.astrologer {
	text-align: center;
}

.wretch {
	text-align: center;
}

.samurai {
	text-align: center;
}

.prisoner {
	text-align: center;
}

.bandit {
	text-align: center;
}

.confessor {
	text-align: center;
}


.class h2 {
	font-family: Martel, sans-serif;
	padding-bottom: 2rem;
	width: 100%;
	font-size: 30px;
	font-weight: 400;
	display: flex;
	align-items: center;
  justify-content: center;
	text-decoration: underline;
	text-decoration-color: rgba(193,157,83);
}

.cimg {
	width: 50vw;
	height: auto;
}

.cls {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: rgba(193,157,83);
	font-style: normal;
}



@media (max-width: 670px) {

	.container {
		flex-direction: column;
	}
	.container .contactinfo .box .text {
		font-size: 14px;
	}

	.contact .content h2 {
		font-size: 30px;
	}

	.contact .content p {
		font-size: 15px;
	}

	.container .contactinfo .box .text h3 {
		font-size: 20px;
	}
}
@media screen and (min-width: 550px) {

	.class h2 {
    font-size: 50px;
	}
}
@media screen and (min-width: 360px) {

	.footertext1 {
		font-size: 30px;
	}
}
@media screen and (min-width: 600px) {

	header h1 {
		font-size: 60px;
	}

	em {
		font-size: 60px;
	}

	#menuToggler {
		font-size: 2.4em;
	}
}

@media screen and (min-width: 790px) {

#menuToggler {
	display: none;
}

header nav {
	flex-direction: row;
	justify-content: flex-end;
	transform: none;
	transition: none;
	height: auto;
	position: inherit;
}

header nav a {
  font-size: 25px;
	padding: 3em;
	padding-top: 0em;
	padding-bottom: 1.3em;
  text-decoration: underline;
	text-decoration-color: rgba(0,0,0,0.8);
	transition: text-decoration-color 0.5s;
}

header nav a:hover {
	text-decoration-color: rgba(193,157,83);
}

nav a:last-child {
	text-decoration: underline;
	text-decoration-color: rgba(0,0,0,0.8);
	transition: text-decoration-color 0.5s;
}
}